<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false"
                     class="expansion-panel mat-elevation-z0"
                     [class.mb-3]="!panelOpenState"
>
  <mat-expansion-panel-header [class.panel-hover]="!panelOpenState">
      <mat-panel-title class="col-4">
        {{item.title | firstToUpper}}
      </mat-panel-title>
      <mat-panel-description class="col-8">
        {{item.subtitle  | firstToUpper}}
      </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col-4">
      <img class="img-fluid mx-auto" src="{{item.imageUrl}}">
    </div>
    <div class="col-8">
      {{item.text | firstToUpper}}
    </div>
  </div>
  <mat-action-row>
    <button disableRipple mat-raised-button class="button-edit mat-elevation-z0" (click)="edit()">Edit</button>
    <button disableRipple mat-raised-button color="warn" class="mat-elevation-z0" (click)="remove()">Delete</button>
  </mat-action-row>
</mat-expansion-panel>
