@import "src/assets/variables";

.expansion-panel {
  border: 1px solid $theme-gray;

  .panel-hover {
    &:hover {
      background: $theme-primary-disabled !important;
    }
  }

  .button-edit {
    background-color: $theme-primary;
    color: $theme-white;
  }

}

