<mat-drawer-container class="app-container" [hasBackdrop]="false" autosize="true">
  <mat-drawer #drawer class="app-drawer" mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-toolbar class="w-100" (toggleDrawer)="drawer.toggle()"></app-toolbar>
    <div class="w-100">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
