@import "src/assets/variables";

.app-container {
  height: 100%;

  .app-drawer {
    width: 250px;
  }

  mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
