<div class="sidenav h-100">
  <div class="img-wrapper d-flex">
    <a routerLink="/" class="px-5 my-auto">
      <img class="img-fluid" src="assets/img/logo.png" alt="logo">
    </a>
  </div>
  <mat-selection-list [multiple]="false">
    <mat-list-option>
      <app-sidenav-item [item]="home"></app-sidenav-item>
    </mat-list-option>
    <mat-list-option *ngFor="let item of items">
      <app-sidenav-item [item]="item"></app-sidenav-item>
    </mat-list-option>
  </mat-selection-list>
</div>
