// Additional colors
$theme-white: #fff;
$theme-primary: #1d91a2;
$theme-primary-disabled: rgba(29, 145, 162, 0.5);
$theme-secondary: #eb602c;
$theme-secondary-disabled: rgba(235, 96, 44, 0.5);
$theme-darker: #06181b;
$theme-dark: rgba(6, 24, 27, 0.5);
$theme-gray: rgba(0, 0, 0, 0.12);
