<form class="d-grid gy-3" [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="header h3">Edit item</div>
<!--Hidden Id-->
  <mat-form-field hidden>
    <mat-label></mat-label>
    <input matInput #id formControlName="id" [(ngModel)]="item.item.id">
  </mat-form-field>
  <!--Category-->
  <mat-form-field appearance="outline">
    <mat-label>Choose category</mat-label>
    <mat-select #category required formControlName="category" [(ngModel)]="item.item.category">
      <mat-option value="link">Link</mat-option>
      <mat-option value="site">Site</mat-option>
    </mat-select>
    <mat-error>Please choose category</mat-error>
  </mat-form-field>
  <!--Url-->
  <mat-form-field appearance="outline" hintLabel="Max 20 characters">
    <mat-label>If empty URL will be generated from title</mat-label>
    <input matInput #url formControlName="url" [(ngModel)]="item.item.url">
    <mat-hint align="end">{{url.value?.length || 0}}/20</mat-hint>
    <mat-error>Please use only small letter, no special signs allowed, unique value</mat-error>
  </mat-form-field>
  <!--Icon-->
  <mat-form-field appearance="outline">
    <mat-label>Choose icon</mat-label>
    <input matInput
           #icon
           [matAutocomplete]="auto"
           [formControl]="formControl"
           formControlName="icon"
           [(ngModel)]="item.item.icon"
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let icon of filteredIcons | async" [value]="icon.code">
        <mat-icon aria-hidden="false" aria-label="Example home icon">{{icon.code}}</mat-icon>
        <span>{{icon.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <!--Title-->
  <mat-form-field appearance="outline" hintLabel="Max 50 characters">
    <mat-label>e.g. Plan</mat-label>
    <input matInput required #title formControlName="title" [(ngModel)]="item.item.title">
    <mat-hint align="end">{{title.value?.length || 0}}/50</mat-hint>
    <mat-error>Please provide title</mat-error>
  </mat-form-field>
  <!--Subtitle-->
  <mat-form-field appearance="outline" hintLabel="Max 200 characters">
    <mat-label>e.g. Best Plan in the World</mat-label>
    <input matInput #subtitle formControlName="subtitle" [(ngModel)]="item.item.subtitle">
    <mat-hint align="end">{{subtitle.value?.length || 0}}/200</mat-hint>
  </mat-form-field>
  <!--Text-->
  <mat-form-field appearance="outline" hintLabel="Max 5000 characters">
    <mat-label>Type some content</mat-label>
    <textarea matInput #text formControlName="text" [(ngModel)]="item.item.text"></textarea>
    <mat-hint align="end">{{text.value?.length || 0}}/5000</mat-hint>
  </mat-form-field>
  <!--Imglink-->
  <mat-form-field appearance="outline">
    <mat-label>e.g. https://www.app2.com/logo.jpg</mat-label>
    <input matInput #imageUrl formControlName="imageUrl" [(ngModel)]="item.item.imageUrl">
  </mat-form-field>
  <button mat-raised-button [disabled]="!editForm.valid" type="submit" class="button-submit">Edit item</button>
</form>
