<div class="edit-list">
  <div class="container my-2">
    <div class="header h3">Edit items</div>
    <mat-accordion class="mt-4">
      <ng-container *ngFor="let item of items">
        <app-edit-list-item
          [item]="item"
        ></app-edit-list-item>
      </ng-container>
    </mat-accordion>
  </div>
</div>
