@import "src/assets/variables";

.home {
  .slogan {
    position: absolute;
    right: 16px;
    top: 19%;
    z-index: 1;
    display: grid;

    .slogan-upper {
      margin-left: auto;
      font-size: 50px;
      position: absolute;
      top: 15px;
      right: 0;
    }

    .slogan-lower {
      margin-left: auto;
      font-size: 230px;
    }
  }

  .button-toggle-group-wrapper {
    mat-button-toggle {
      background-color: $theme-primary;
      color: $theme-white;

      ::ng-deep .mat-button-toggle-label-content {
        line-height: 36px !important;

      }
      &.mat-button-toggle-checked {
        background-color: $theme-secondary;
      }
    }
  }

  .image {
    margin-right: 25%;
  }

  img {
    height: 250px !important;
  }

  ::ng-deep .mat-card-header-text {
    margin: 0 !important;
  }

  .card-badge {
    background-color: $theme-secondary;
    width: 75px;
    position: absolute;
    right: 16px;
    line-height: 1.5;
  }
}

