@import "src/assets/variables";

.form {

  .button-submit {
    background-color: $theme-primary;
    color: $theme-white;
  }

  .mat-button-disabled {
    background-color: $theme-primary-disabled;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: $theme-white !important;
  }
}
