<div class="form">
  <div class="container my-2">
    <div class="header h3">Create new item</div>
    <div class="row justify-content-center mt-4">
      <div class="col-6">
        <form class="d-grid gy-3" [formGroup]="addForm" (ngSubmit)="onSubmit()" novalidate>
          <!--Category-->
          <mat-form-field appearance="outline">
            <mat-label>Choose category</mat-label>
            <mat-select #category required formControlName="category">
              <mat-option value="link">Link</mat-option>
              <mat-option value="site">Site</mat-option>
            </mat-select>
            <mat-error>Please choose category</mat-error>
          </mat-form-field>
          <!--Url-->
          <mat-form-field appearance="outline" hintLabel="Max 20 characters">
            <mat-label>If empty URL will be generated from title</mat-label>
            <input matInput #url formControlName="url">
            <mat-hint align="end">{{url.value?.length || 0}}/20</mat-hint>
            <mat-error>Please use only small letter, no special signs allowed</mat-error>
          </mat-form-field>
          <!--Icon-->
          <mat-form-field appearance="outline">
            <mat-label>Choose icon</mat-label>
            <input matInput
                   aria-label="State"
                   #icon
                   [matAutocomplete]="auto"
                   [formControl]="formControl"
                   formControlName="icon"
            >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let icon of filteredIcons | async" [value]="icon.code">
                <mat-icon aria-hidden="false" aria-label="Example home icon">{{icon.code}}</mat-icon>
                <span>{{icon.name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!--Title-->
          <mat-form-field appearance="outline" hintLabel="Max 50 characters">
            <mat-label>e.g. Plan</mat-label>
            <input matInput required #title formControlName="title">
            <mat-hint align="end">{{title.value?.length || 0}}/50</mat-hint>
            <mat-error>Please provide title</mat-error>
          </mat-form-field>
          <!--Subtitle-->
          <mat-form-field appearance="outline" hintLabel="Max 200 characters">
            <mat-label>e.g. Best Plan in the World</mat-label>
            <input matInput #subtitle formControlName="subtitle">
            <mat-hint align="end">{{subtitle.value?.length || 0}}/200</mat-hint>
          </mat-form-field>
          <!--Text-->
          <mat-form-field appearance="outline" hintLabel="Max 5000 characters">
            <mat-label>Type some content</mat-label>
            <textarea matInput #text formControlName="text"></textarea>
            <mat-hint align="end">{{text.value?.length || 0}}/5000</mat-hint>
          </mat-form-field>
          <!--Imglink-->
          <mat-form-field appearance="outline">
            <mat-label>e.g. https://www.app2.com/logo.jpg</mat-label>
            <input matInput #imageUrl formControlName="imageUrl">
          </mat-form-field>
          <button mat-raised-button [disabled]="!addForm.valid" type="submit" class="button-submit">Add item</button>
        </form>
      </div>
    </div>
  </div>
</div>
