<div class="page" *ngFor="let item of item">
  <div class="container my-2">
    <div class="header-wrapper d-grid">
      <div class="header h3">{{item.title | firstToUpper}}</div>
      <div class="subheader h6 mt-auto" *ngIf="item.subtitle">{{item.subtitle | firstToUpper}}</div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-6" *ngIf="item.text">
        {{item.text | firstToUpper}}
      </div>
      <div class="col-6">
        <img *ngIf="item.imageUrl" class="img-fluid" src="{{item.imageUrl}}" alt="">
      </div>
    </div>
  </div>
</div>
