@import "src/assets/variables";

mat-toolbar {
  background: $theme-white;
  padding-left: 0 !important;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);

  .button-wrapper {
    height: 100%;
    border-right: solid 1px rgba(0, 0, 0, 0.12);

    .button-menu {
      width: 64px;
      height: 100%;
    }

  }
    .buttons {
      .button-add {
        background-color: $theme-primary;
        color: $theme-white;
      }
      .button-edit {
        background-color: $theme-secondary;
        color: $theme-white;
      }
    }
}
