<mat-toolbar class="toolbar d-flex">
  <div class="button-wrapper">
    <button mat-icon-button disableRipple class="button-menu" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="toggleDrawer.emit()">menu</mat-icon>
    </button>
  </div>
  <div class="buttons ms-auto">
    <a routerLink="/form" disableRipple mat-raised-button class="button-add me-2 mat-elevation-z0">Add item</a>
    <a routerLink="/edit" disableRipple mat-raised-button class="button-edit mat-elevation-z0">Edit items</a>
  </div>
</mat-toolbar>
