<div class="remove-item">
  <div class="h4">Are you sure you want to delete this item?</div>
  <div class="d-flex px-5 my-3">
    <button disableRipple mat-raised-button class="button-cancel me-auto" (click)="close()">Cancel</button>
    <button disableRipple mat-raised-button color="warn" class="button-delete" (click)="remove()">Delete</button>
  </div>
</div>
